<nav class="navbar">
  <% if(username) { %>
  <div class="user-nav-info">
    <p><%= username %></p>
    <div class="user-color-nav"></div>
  </div>
  <a class="leave-chat-button" href="/">Leave chat</a>
  <% } %>
</nav>
