* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--default-font-family);
}

.user-color-nav {
  height: 25px;
  width: 25px;
  border: 2px solid #edf6f9;
  border-radius: 50%;
  margin: auto 10px;
}

ul {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #e29578;
}

/* main {
  background: #006d77;
  margin: auto;
  margin-top: 100px;
  border-radius: 0.2em;
  padding: 15px;
} */

.user-color-set {
  margin-bottom: 5px;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #edf6f9;
  background-color: white;
}

.user-login-form__username-error,
.user-login-form__roomname-error {
  position: relative;
  top: 0px;
  color: var(--error-color);
  font-size: 10px;
  font-weight: 700;
}

/* new styles */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6f7;
  height: calc(100vh - var(--navbar-height));
}

.navbar {
  display: flex;
  height: var(--navbar-height);
  padding: 0 20px;
  background: var(--inverse-blue-gradient);
  font-weight: 700;
}

.user-nav-info {
  display: flex;
  align-items: center;
}

.user-nav-info p {
  color: var(--light-color);
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.user-nav-info p::before {
  position: absolute;
  content: "";
  left: 0%;
  bottom: 18%;
  transform: translate(0%, 10%);
  background: var(--dark-color);
  width: 100%;
  height: 5px;
  z-index: -1;
}

.leave-chat-button {
  background: var(--red-gradient);
  padding: 5px;
  margin-left: auto;
  border-radius: 0.2em;
  color: var(--light-color);
  align-self: center;
}

main.user-info {
  width: 250px;
  min-width: 250px;
  background: var(--inverse-blue-gradient);
  padding: 20px;
  border-radius: 8px;
}

.user-color {
  margin: auto;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  background: #3a47d5;
  border-radius: 50%;
  border: 3px solid var(--light-color);
  cursor: pointer;
}

#user-form {
  display: flex;
  flex-direction: column;
}

#user-form label {
  color: var(--light-color);
  font-weight: 700;
}

#user-form input,
#user-form select {
  background: var(--light-color);
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-family: var(--default-font-family);
  font-weight: 700;
  color: var(--dark-color);
}

#user-form input:focus,
#user-form select:focus {
  background: var(--focus-color);
}

.select-container {
  width: 100%;
  position: relative;
}

#user-form select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearnce: none;
  width: 100%;
  cursor: pointer;
}

.down-arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 100%;
  transform: translate(-150%, -50%);
  font-size: 20px;
  color: var(--dark-color);
  transition: 200ms ease all;
  pointer-events: none;
}

.down-arrow:hover {
  transform: translate(-150%, -47%) scale(1.1);
}

.down-arrow-clicked {
  transform: translate(-150%, -47%) scale(1.1) rotate(180deg);
}

.user-login-form__submitButton {
  border: none;
  padding: 5px;
  border-radius: 8px;
  text-transform: capitalize;
  font-family: var(--default-font-family);
  font-weight: 700;
  color: var(--light-color);
  background: var(--dark-color);
  cursor: pointer;
}

.user-login-form__submitButton:disabled {
  background: var(--error-color);
  cursor: not-allowed;
}

.chat-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: calc(100vh - var(--navbar-height) - 40px);
  column-gap: 10px;
  margin: 20px auto;
  justify-content: center;
  max-width: 1000px;
}

.users-list-box {
  background: linear-gradient(
    -90deg,
    var(--light-blue-color) -50%,
    var(--dark-blue-color) 100%
  );
  color: var(--light-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  font-weight: 700;
  padding: 5px;
  max-width: 100%;
  overflow-y: scroll;
  scrollbar-color: var(--scrollbar-color);
}

.users-list-box h4 {
  border-bottom: 3px solid var(--dark-color);
  width: 100%;
  text-align: center;
}

.users-list {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.users-list__item {
  padding: 5px;
  max-width: 100%;
  word-wrap: break-word;
  position: relative;
}

.users-list__item::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  background: var(--dark-color);
  width: 20px;
  height: 2px;
}

.message-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  height: 100%;
}

.messages-box {
  background: linear-gradient(
    90deg,
    var(--light-blue-color) -60%,
    var(--dark-blue-color) 100%
  );
  border-radius: 8px;
  padding: 5px;
  font-weight: 400;
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: var(--scrollbar-color);
}

.message {
  color: var(--dark-color);
  word-wrap: break-word;
  margin: 5px 0px;
}

.message__username {
  color: var(--dark-color);
  font-weight: 700;
}

.message__text {
  word-wrap: break-word;
  background: var(--light-color);
  border-radius: 5px;
  padding: 5px;
}

.message-info {
  background: linear-gradient(
    90deg,
    var(--light-blue-color) -60%,
    var(--dark-blue-color) 100%
  );
  border-radius: 8px;
  padding: 5px;
}

.message-info-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.message-info-form label {
  font-weight: 700;
  color: var(--dark-color);
}

.message-info-form input,
.message-info-form textarea {
  width: 100%;
  color: var(--dark-color);
  font-family: var(--default-font-family);
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px auto;
}

.message-info-form textarea {
  flex: 2;
}

.message-info-form input::placeholder,
.message-info-form textarea::placeholder {
  color: var(--dark-color);
  text-transform: capitalize;
  opacity: 0.4;
}

.message-info-form__submitButton {
  border: none;
  border-radius: 5px;
  background: var(--dark-color);
  color: var(--light-color);
  margin-top: 5px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .chat-container {
    width: calc(100% - 10px);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: calc(100vh - var(--navbar-height) - 40px);
    column-gap: 5px;
    margin: 20px 5px;
  }
}

:root {
  --navbar-height: 10vh;
  --light-color: #f5f6f7;
  --focus-color: #e2e2e2;
  --dark-color: #0b0b4f;
  --error-color: #e29578;
  --light-blue-color: #00d2ff;
  --dark-blue-color: #3a47d5;
  --red-gradient: linear-gradient(90deg, #e43a15 0%, #e65245 100%);
  --blue-gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  --inverse-blue-gradient: linear-gradient(-90deg, #00d2ff 0%, #3a47d5 100%);
  --default-font-family: "Nunito", sans-serif;
  --scrollbar-color: var(--error-color) var(--light-blue-color);
}
